<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magenuts\Core\Api\Service\XmlInterface" type="Magenuts\Core\Service\Xml"/>

    <type name="Magento\Framework\View\TemplateEngineFactory">
        <plugin name="mstCoreManualLink" type="Magenuts\Core\Plugin\ManualLinkPlugin" sortOrder="1000"/>
    </type>

    <type name="Magento\Backend\Block\Menu">
        <plugin name="mstCoreAppendJs" type="Magenuts\Core\Plugin\Backend\Block\Menu\AppendJsPlugin"/>
        <plugin name="mstCoreUpdateMarkup" type="Magenuts\Core\Plugin\Backend\Block\Menu\UpdateMarkupPlugin"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Item">
        <plugin name="mstCoreMarketplaceUrl" type="Magenuts\Core\Plugin\Backend\Model\Menu\Item\MarketplaceUrlPlugin"/>
        <plugin name="mstCoreDirectUrl" type="Magenuts\Core\Plugin\Backend\Model\Menu\Item\DirectUrlPlugin"/>
    </type>

    <type name="Magento\Backend\Model\Menu\Builder">
        <plugin name="mstCoreBuilder" type="Magenuts\Core\Plugin\Backend\Model\Menu\Builder\BuilderPlugin"/>
    </type>

    <type name="Magento\Framework\App\ActionInterface">
        <plugin name="Magenuts_Core::cronChecker" type="Magenuts\Core\Plugin\Backend\Framework\App\FrontController\CronCheckerPlugin" sortOrder="10"/>
    </type>
</config>
